@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindos</h1>
    <img src="https://cdn.ocp.news/2022/04/Imprensa-2a-Edic-807a-771o-Jovem-Programador.jpg" width="800"/>
</div>
