@{
    ViewData["Title"] = "Professor";
}

<div class="text-left">
    <div>
        <h1>Dados dos professores</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Disciplina</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Kátia</td>
                <td>Desenvolver sistemas, back-end para web e publicar sites na web</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Júnior</td>
                <td>Projeto Integrador</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Nivaldo</td>
                <td>Banco de dados e front-end para web.</td>
            </tr>
        </tbody>
    </table>

</div>