@{
    ViewData["Title"] = "Conhecimentos";
}

<div class="text-left">
    <div>
        <h1>Conhecimentos</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Competência</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td scope="row">Lógica de programação</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td scope="row">Algoritmos</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td scope="row">Expressões Aritméticas</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td scope="row">Variáveis e tipos</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td scope="row">Padrão Camel Case</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td scope="row">Estrutura Sequencial</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td scope="row">Estrutura Condicional</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td scope="row">Estruturas Repetitivas</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td scope="row">Vetores</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td scope="row">Matrizes</td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td scope="row">Debug</td>
            </tr>
            <tr>
                <th scope="row">12</th>
                <td scope="row">Programação Orientação a Objetos</td>
            </tr>
            <tr>
                <th scope="row">13</th>
                <td scope="row">Classes</td>
            </tr>
            <tr>
                <th scope="row">14</th>
                <td scope="row">Métodos</td>
            </tr>
            <tr>
                <th scope="row">15</th>
                <td scope="row">Conexão da aplicação com o banco de dados</td>
            </tr>
            <tr>
                <th scope="row">16</th>
                <td scope="row">Testes Unitários</td>
            </tr>
            <tr>
                <th scope="row">17</th>
                <td scope="row">Programação Web: MVC(Model - View - Controller)</td>
            </tr>
            <tr>
                <th scope="row">18</th>
                <td scope="row">CRUD</td>
            </tr>
            <tr>
                <th scope="row">19</th>
                <td scope="row">Chamada de API</td>
            </tr>
            <tr>
                <th scope="row">20</th>
                <td scope="row">Uso do Git e Github</td>
            </tr>
            <tr>
                <th scope="row">21</th>
                <td scope="row">Branch</td>
            </tr>
            <tr>
                <th scope="row">22</th>
                <td scope="row">Publicar projeto</td>
            </tr>
        </tbody>
    </table>
</div>