@{
    ViewData["Title"] = "Conhecimentos";
}

<div class="text-left">
    <div>
        <h1>Dados do aluno</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Sobrenome</th>
                <th scope="col">Número</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Luiz</td>
                <td>Wendland</td>
                <td>(48) 98415-2482</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>João</td>
                <td>Vitor</td>
                <td>(48) 91284-4214</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Ana</td>
                <td>Karoline</td>
                <td>(48) 98412-8412</td>
            </tr>
        </tbody>
    </table>

</div>