@{
    ViewData["Title"] = "Adicionar";
}

@model ProfessorModel
<div class="container">
    <fieldset>
        <h1>Adicione um novo professor</h1>

        <form asp-controller="Professores" asp-action="InserirProfessor" method="post">
            <div class="mb-3">
                <label for="ExampleEmail" class="form-label">Nome</label>
                <input type="text" asp-for="Nome" class="form-control" id="InputNome">
            </div>
            <div class="mb-3">
                <label for="ExampleIdade" class="form-label">Idade</label>
                <input type="text" asp-for="Idade" class="form-control" id="InputIdade">
            </div>
            <div class="mb-3">
                <label for="ExampleContato" class="form-label">Contato</label>
                <input type="text" asp-for="Contato" class="form-control" id="InputContato" placeholder="(00) 99999-9999">
            </div>
            <div class="mb-3">
                <label for="ExampleE-mail" class="form-label">E-mail</label>
                <input type="text" asp-for="Email" class="form-control" id="InputEmail">
            </div>
            <div class="mb-3">
                <label for="ExampleContato" class="form-label">CEP</label>
                <input type="text" asp-for="Cep" class="form-control" id="InputCep" placeholder="00000-00">
            </div>

            <button type="submit" class="btn btn-primary">Adicionar</button>
            <a asp-controller="Professores" asp-action="Index" class="btn btn-primary">Voltar</a>
        </form>

    </fieldset>
</div>