@{
    ViewData["Title"] = "Alunos";
}

<div class="text-left">
    <div>
        <h1>Dados do aluno</h1>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Idade</th>
                <th scope="col">Contato</th>
                <th scope="col">E-mail</th>
                <th scope="col">CEP</th>
                <th scope="col">Endereço</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Luiz Wendland</td>
                <td>17 anos</td>
                <td>(48) 94821-4123</td>
                <td>luiz@gmail.com</td>
                <td>88240-000</td>
                <td><button type="button" class="btn btn-primary">Endereço</button></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>João Vitor</td>
                <td>21 anos</td>
                <td>(48) 91284-4214</td>
                <td>joao@gmail.com</td>
                <td>88240-000</td>
                <td><button type="button" class="btn btn-primary">Endereço</button></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Ana Karoline </td>
                <td>22 anos</td>
                <td>(48) 98412-8412</td>
                <td>ana@gmail.com</td>
                <td>88240-000</td>
                <td><button type="button" class="btn btn-primary">Endereço</button></td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <a asp-controller="Alunos" asp-action="Adicionar" class="btn btn-primary">Adicionar novo aluno</a>
    </div>

</div>